@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    display: flex;
    justify-content: center;
}

main {
    max-width:  93.70424597364568vw;
    max-height: 121.6vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 108.89621087314663vh;
    width: 31.925925925925927vw;
    margin: 8.401976935749587vh 0  7.907742998352553vh 15.703703703703704vw;
}

section {
    width:  35.03703703703704vw;
    height: 49.18451400329489vh;
    text-align: center;
    position: relative;
    margin: 38.056013179571664vh 6.222222222222222vw 37.965403624382205vh 5.925925925925926vw;
}

h1 {
    margin-top: 0;
    margin-bottom: 7.248764415156508vh;
    height: 17.462932454695224vh;
    width: 33.77777777777778vw;   
    font-size: 6.563rem;  
}

h2 {
    margin-top: 0;
    height: 7.742998352553542vh;
    width: 35.03703703703704vw;
    margin-bottom:  10.873146622734762vh;
    font-size: 1.688rem;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color:#3EB25E;
    border: none;
    color: white;
    width: 14.74074074074074vw;
    height: 5.8566721581548595vh;
    font-size: 1.375rem;
    border-radius: 35px;
    border-top: 0.9884678747940692vh solid #3EB25E;
    border-bottom: 0.9884678747940692vh solid #3EB25E;
    border-left: 1.9259259259259258vw solid #3EB25E;
    border-right: 1.9259259259259258vw solid #3EB25E;
}

a:hover {
    background-color: #FFFF7D;
    background-color: #FFFF7D;
    border-top: 0.9884678747940692vh solid #FFFF7D;
    border-bottom: 0.9884678747940692vh solid #FFFF7D;
    border-left:  1.9216555801921655vw solid #FFFF7D;
    border-right:  1.9216555801921655vw solid #FFFF7D;
    color: black;
}
