@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body * {
    border: 1px solid red;
}
body {
    display: flex;
    justify-content: center;
}
main {
    border: 1px solid red;
    max-width: 1280px;
    max-height: 760px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
img {
    height: 480.01px;
    width: 552.51px;
    margin: 146px 0 133.99px 87.49px;

}
h1 {
    font-size: 39px;
    text-align: center;
    width: 473px;
    height: 101px;
    margin: 223px 88px 0 78.99px;
}
p {
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    width: 443px;
    text-align: center;
    font-size: 28px;
    margin: 14px 103px 45px 93.99px;

}
a {
    text-decoration: none;
    background-color:#3EB25E;
    border: none;
    color: white;
    width: 198px;
    height: 36px;
    font-size: 22px;
    border-radius: 35px;
    border-top: 6px solid #3EB25E;
    border-bottom: 6px solid #3EB25E;
    border-left: 26px solid #3EB25E;
    border-right: 26px solid #3EB25E;
    
}
#botao1 {
    margin-left: 93.99px;
}
#botao2 {
    margin-left: 27px;
}
a:hover {
    background-color: #FFFF7D;
    border-top: 6px solid #FFFF7D;
    border-bottom: 6px solid #FFFF7D;
    border-left: 26px solid #FFFF7D;
    border-right: 26px solid #FFFF7D;
    color: black;
    transition:all 0.6s;
}